{% extends "base.html" %}

{% block title %}{{ show.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show_details.css') }}">
{% endblock %}


{% block content %}
    <section class="hero" style="background-image: url('https://image.tmdb.org/t/p/original{{ artwork.backdrop.file_path }}');">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            {% if artwork.logo.file_path %}
                <img
                    class="show-logo"
                    src="https://image.tmdb.org/t/p/w500{{ artwork.logo.file_path }}"
                    alt="{{ show.name }} logo"
                >
            {% else %}
                <h1>{{ show.name }}</h1>
            {% endif %}
            <p class="tagline">{{ show.tagline }}</p>
        </div>
    </section>

    <div class="details-container">
        <!-- LEFT COLUMN -->
        <div class="poster-column">
            <img
                class="poster"
                src="https://image.tmdb.org/t/p/w500{{ artwork.poster.file_path }}"
                alt="{{ show.name }} poster"
            >
        </div>

        <!-- MIDDLE COLUMN -->
        <div class="info-column">
            <h2>{{ show.name }}</h2>

            <div class="meta-row">
                <span>{{ show.first_air_date.strftime('%Y') }}</span>
                <span>•</span>
                <span>{{ show.vote_average }}/10</span>
                <span>•</span>
                <span>{{ show.number_of_seasons }} Seasons</span>
            </div>

            <div class="genres">
                {% for genre in show.genres %}
                    <span class="genre-pill">{{ genre.name }}</span>
                {% endfor %}
            </div>
            <p class="overview">{{ show.overview }}</p>
        </div>

        <!-- RIGHT COLUMN  -->
        <div class="season-column">
            {% for season in seasons if season.season_number > 0 %}
                <a class="season-link" href="{{show.tmdb_show_id}}/season/{{ season.season_number }}">
                    Season {{ season.season_number }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}